<div class="card border-secondary mb-3 container vert-offset-top-2">
  <div class="card-header" style="color:#0e2e97">
  The Great Big Goal List!
  You Can Achieve Great Heights!
  </div>

  <div class="card" style="width:auto;">
    <div class="card-body" style="color:#103b80">

    <ul class="list-group list-group-flush">
    {{#each goals}}
      <li class="list-group-item">
        {{this.id}}. {{this.goal}}
          <button data-id="{{this.id}}" data-goal="{{this.goal}}" class="delgoal btn btn-danger">Done!</button>
      </li>
    {{/each}}
    </ul>
    
    </div>
  </div>
</div>


<div class="card border-secondary mb-3 container vert-offset-top-2"> 
<div class="card-header" style="color:#103b80">
  Set a Goal for 2018!!!
</div>
    <div class="card" style="width:auto;"> 
      <div class="card-body">  
 
 <form id="creategoal" class="form-group">
    <textarea type="text" name="goal" aria-label="" class="font-weight-light form-control"></textarea>
      <button type="submit" class="btn btn btn-success">Save Goal!</button>
  </form>

  </div>
  </div>
</div>




<div class="card border-secondary mb-3 container vert-offset-top-2"> 
<div class="card-header" style="color:#103b80">
  Goal Updates!!
</div>
  <div class="card" style="width:auto;">  
    <div class="card-body">    

  <form id="updategoal" class="form-group">
    <textarea type="text" name="goal" class="font-weight-light form-control"></textarea>
      <select name="id" class="selectpicker form control" style="width: 250px" data-width="auto" title="Choose one of the following...">
          {{#each goals}}
             <option value="{{this.id}}">{{this.goal}}</option>
          {{/each}}
      </select>
        <button type="submit" class="btn btn btn-primary">Update Goal!</button>
      </form>

    </div> 
  </div> 
</div> 
